{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Complete Profile{% endblock %}

{% block extra_styles %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content align-items-lg-center py-3 flex-column flex-lg-row">
            <h2 class="h5 mb-3 mb-lg-0 text-primary"><a href="#" class="text-muted"><i
                        class="bi bi-arrow-left-square me-2 "></i></a> Setup Profile</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Basic information -->
                <div class="card mb-4 shadow">
                    <form class="card-body" method="post" >
                        {% csrf_token %}
                        <!-- Form fields rendered using Crispy Forms -->
                       
                        <h3 class="h6 mb-4">Qualification</h3>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label class="form-label">Level of education</label>
                              {{ form.level }}
                            </div>
                          </div>
                      
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Name of course :</label>
                                    {{ form.course }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Name of institution :</label>
                                    {{ form.institution }}
                                </div>
                            </div>
                        </div>
                        <hr>
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label class="form-label">Start date</label>
                                        {{ form.start_date }}
                                      </div>
                                </div>

                                <div class="col-4">
                                    <div class="mb-3">
                                        <label class="form-label">End date</label>
                                        {{ form.end_date }}
                                      </div>
                                </div>
                                   
                                <div class="row">
                                    <div class="col-lg-3">
                                        {% for error in form.non_field_errors %}
                                          <p class="text-danger">*{{ error }}</p>
                                        {% endfor %}
                                        {% for field in form %}
                                          {% for error in field.errors %}
                                            <p class="text-danger">*{{ error }}</p>
                                          {% endfor %}
                                        {% endfor %}
                                      </div>
                                      
                                      
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col"></div>
                                <div class="col-auto">
                                  <button type="submit" class="btn btn-primary pl-4 pr-4">Next</button>
                                </div>
                              </div>
            </form>
        </div>
    </div>
</div>



{% block extra_script %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
      $('input[type="date"]').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
      });
    });
  </script>
{% endblock %}

{% endblock %}