{% extends "shared/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="banner">
    <div class="card p-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-6">
                <div class="card-body card-body-custom">
                    <div class="row">
                        <div class="col">
                            <h5 class="banner-title">Welcome to CareerConnect!</h5>
                            <p class="banner-text">CareerConnect seamlessly combines professional advancement with personal connections. Explore our robust job portal to find your ideal career opportunities and network with potential employers. Alternatively, engage with our dating platform to foster meaningful personal relationships and expand your social circle.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-md-end text-center position-relative">
                <img src="{% static "users/images/6222537.jpg" %}" alt="Banner Image" class="card-img-right">
                <!-- Flying Images Container -->
                <div class="flying-images-container">
                    <img src="{% static "users/images/bannericons/job.png" %}" class="flying-image" style="left: 10%; top: 20%;">
                    <img src="{% static "users/images/bannericons/dating.png" %}" class="flying-image" style="left: 30%; top: 50%;">
                    <img src="{% static "users/images/bannericons/dating (1).png" %}" class="flying-image" style="left: 50%; top: 10%;">
                    <img src="{% static "users/images/bannericons/job-offer.png" %}" class="flying-image" style="left: 70%; top: 30%;">
                    <img src="{% static "users/images/bannericons/dating-app.png" %}" class="flying-image" style="left: 80%; top: 10%;">
                    <img src="{% static "users/images/bannericons/job-search.png" %}" class="flying-image" style="left: 90%; top: 50%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-container bg-white mb-5">
    <div class="container mt-4">
        <h2 class="text-center auth-text mb-5">Services</h2>
        <div class="row card-wrapper">
            <div class="col-md-6 card-item">
                <a href="{% url "job:home" %}" target="_blank" class="card">
                    <div class="card-image" style="background-image: url('{% static "users/images/jobindex.jpg" %}')">
                        <div class="card-text">
                            <h1>Job Portal</h1>
                            <p>Explore our job portal</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 card-item">
                <a href="?b=dating" class="card">
                    <div class="card-image" style="background-image: url('{% static "users/images/datingindex.jpg" %}')">
                        <div class="card-text">
                            <h1>Dating App</h1>
                            <p>Discover our dating app</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
