{% extends 'accounts/shared/accounts_base.html' %}


    {% block accounts_title %}{% if request.path == '/accounts/address/create/' %}Add{% else %}Update{% endif %} Address{% endblock accounts_title %}


{% block accounts_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% if request.path == '/accounts/address/create/' %}
                        <h1 class="card-title text-center mb-4">Add Address</h1>
                        {% else %}
                        <h1 class="card-title text-center mb-4">Update Address</h1>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {% include 'components/form_field.html' with field=form.name %}
                            {% include 'components/form_field.html' with field=form.address_line_1 %}
                            {% include 'components/form_field.html' with field=form.address_line_2 %}
                            {% include 'components/form_field.html' with field=form.address_line_3 %}
                            <div class="row">
                                <div class="col-md-4">
                                    {% include 'components/form_field.html' with field=form.country %}
                                </div>
                                <div class="col-md-4">
                                    {% include 'components/form_field.html' with field=form.state %}
                                </div>
                                <div class="col-md-4">
                                    {% include 'components/form_field.html' with field=form.city %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% include 'components/form_field.html' with field=form.pincode %}
                                </div>
                                <div class="col-md-6">
                                    {% include 'components/form_field.html' with field=form.phone %}
                                </div>
                            </div>
                            {% include 'components/form_field.html' with field=form.is_default %}
                            <div class="d-grid mt-3 mb-5">
                                <button type="submit" class="btn btn-custom btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock accounts_content %}
    