{% extends 'shared/base.html' %}

{% block title %}Email Sent{% endblock title %}

{% block content %}

<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 justify-content-center border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2 auth-text">Email Sent</h1>
          </div>
          <div class="modal-body pt-0">
              <div class="text-center mt-2">
                  <p class="mb-0"><p class="text-center">A password reset link has been sent to {{ email }}.</p></p>
              </div>
          </div>
        <div class="d-grid p-3 mb-3">
            <a href="{% url 'user:login' %}" class="btn btn-custom">Go to Login</a>
        </div>
        </div>
      </div>
  </div>
{% endblock content %}