{% extends 'accounts/shared/accounts_base.html' %}


{% block accounts_title %}Add Interest{% endblock accounts_title %}


{% block accounts_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Add Interest</h1>
                        <form method="post">
                            {% csrf_token %}
                                    {% include 'components/form_field.html' with field=form.interest %}
                            <div class="d-grid mt-3 mb-5">
                                <button type="submit" class="btn btn-custom btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock accounts_content %}
    