{% extends 'shared/base.html' %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header bg-white p-5 pb-4 justify-content-center border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 auth-text">Sign In</h1>
        </div>
        <p class="text-center p-3">Welcome back! Log in to manage your profile and job applications.</p>
        <div class="modal-body p-3 pt-0">
          <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.email }}
              <label for="floatingInput">{{ form.email.label }}</label>
              <div class="text-danger">
                {{ form.email.errors.as_ul }}
            </div>
            </div>
            <div class="form-floating mb-3">
                {{ form.password }}
              <label for="floatingPassword">{{ form.password.label }}</label>
              {% if form.password.errors %}
                <div class="alert alert-danger">
                    {% for e in form.password.errors %}
                        <p class="text-danger">{{ e }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-custom" type="submit">Sign In</button>
            <a href="{% url "user:forgot-password" %}" class="text-decoration-none auth-text-color p-1">Forgot Password?</a>
            <div class="text-center mt-4 mb-4">
                <p class="mb-0">Don't have an account? <a href="{% url 'user:register' %}" class="auth-text-color text-decoration-none">Sign Up</a></p>
            </div>
            <hr class="my-4">
            {% comment %} <div class="text-center mt-4 mb-4">
              <h2 class="fs-5 fw-bold mb-3">Or</h2>
              <h2 class="fs-5 fw-bold mb-3">Social Login</h2>
          </div>
            <a class="w-100 py-2 mb-2 btn btn-outline-custom rounded-3" href="#">
              Sign up with Twitter
            </a>
            <a class="w-100 py-2 mb-2 btn btn-outline-custom rounded-3" href="#">
              Sign up with Facebook
            </an>
            <a class="w-100 py-2 mb-2 btn btn-outline-custom rounded-3" href="#">
              Sign up with GitHub
            </a> {% endcomment %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    