{% extends "shared/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{job.job_title}}{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body position-relative">
                    {% comment %} <a href="#" class="btn btn-link position-absolute top-0 end-0"><i class="fa-solid fa-flag"></i></a> {% endcomment %}
                    <a href="#" class="btn btn-link save-job-icon save-job-btn" 
                        aria-label="{% if saved_job %}Remove Job{% else %}Save Job{% endif %}"
                        data-job-id="{{ job.id }}"
                        data-action="{% if saved_job %}remove{% else %}save{% endif %}">
                        <i class="{% if saved_job %}fa-solid fa-bookmark{% else %}far fa-bookmark{% endif %}"></i>
                    </a>
                    <div class="d-flex align-items-center mb-3">
                        <div class="ms-3">
                            <h3 class="card-title">{{job.job_title}}</h3>
                            <h6 class="card-subtitle text-muted mt-1"><i class="fa-solid fa-map-marker-alt me-2"></i>{{job.location}}</h6>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 ms-3">
                        <h5 class="card-subtitle mb-3 text-muted">Salary</h5>
                        <div class="badge salary-badge">₹{{ job.salary_from|intcomma }}{% if job.salary_to %} - ₹{{ job.salary_to|intcomma }}{% endif %}</div>
                    </div>
                    <div class="mt-3 mb-3 ms-3">
                        <h5 class="card-subtitle mb-3 text-muted">Expected Joining Date</h5>
                        <div class="badge salary-badge">{{ job.expected_joining_date }}</div>
                    </div>
                    <div class="mt-3 mb-5 ms-3">
                        <h5 class="card-subtitle mb-2 text-muted">Description</h5>
                        <div>
                            <p>{{ job.job_description|safe }}</p>
                        </div>
                    </div>
                    <p class="card-text posted-time"><small class="text-muted">Posted {{ job.created_at|naturaltime }}</small></p>
                    {% if not already_applied %}
                    <a href="{% url "job:job_application_create" job.id %}" target="_blank" class="btn btn-apply-now ms-3">Apply Now</a>
                    {% else %}
                    <a class="btn btn-apply-now ms-3">Applied</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "jobs/savejobajax.html" %}
{% endblock content %}
