{% extends 'admin_panel/layout/base.html' %}
{% load static %}
{% block title %}Update User{% endblock title %}
{% block content %}
<div id="content-page" class="content-page">
   <div class="container-fluid">
       <div class="row">
           <div class="col-lg-3">
               <div class="iq-card">
                   <div class="iq-card-header d-flex justify-content-between">
                       <div class="iq-header-title">
                           <h4 class="card-title">Update User</h4>
                       </div>
                   </div>
                   <div class="iq-card-body">
                       <form method="post" enctype="multipart/form-data">
                           <div class="form-group">
                               <div class="add-img-user profile-img-edit">
                                   <img class="profile-pic img-fluid" src="{% static 'admin_panel/assets/images/user/11.png' %}" alt="profile-pic">
                                   <div class="p-image">
                                       <a href="javascript:void();" class="upload-button btn iq-bg-primary">File Upload</a>
                                       <input class="file-upload" type="file" accept="image/*" name="profile_image">
                                   </div>
                               </div>
                               <div class="img-extension mt-3">
                                   <div class="d-inline-block align-items-center">
                                       <span>Only</span>
                                       <a href="javascript:void();">.jpg</a>
                                       <a href="javascript:void();">.png</a>
                                       <a href="javascript:void();">.jpeg</a>
                                       <span>allowed</span>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <label>User Role:</label>
                               <select class="form-control" id="selectuserrole" name="user_role" required>
                                   <option value="">Select</option>
                                   <option>Web Designer</option>
                                   <option>Web Developer</option>
                                   <option>Tester</option>
                                   <option>Php Developer</option>
                                   <option>Ios Developer</option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="furl">Facebook Url:</label>
                               <input type="text" class="form-control" id="furl" name="facebook_url" placeholder="Facebook Url">
                           </div>
                           <div class="form-group">
                               <label for="turl">Twitter Url:</label>
                               <input type="text" class="form-control" id="turl" name="twitter_url" placeholder="Twitter Url">
                           </div>
                           <div class="form-group">
                               <label for="instaurl">Instagram Url:</label>
                               <input type="text" class="form-control" id="instaurl" name="instagram_url" placeholder="Instagram Url">
                           </div>
                           <div class="form-group">
                               <label for="lurl">Linkedin Url:</label>
                               <input type="text" class="form-control" id="lurl" name="linkedin_url" placeholder="Linkedin Url">
                           </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-9">
               <div class="iq-card">
                   <div class="iq-card-header d-flex justify-content-between">
                       <div class="iq-header-title">
                           <h4 class="card-title">New User Information</h4>
                       </div>
                   </div>
                   <div class="iq-card-body">
                       <div class="new-user-info">
                           <div class="row">
                               <div class="form-group col-md-6">
                                   <label for="fname">First Name:</label>
                                   <input type="text" class="form-control" id="fname" name="first_name" placeholder="First Name" required>
                               </div>
                               <div class="form-group col-md-6">
                                   <label for="lname">Last Name:</label>
                                   <input type="text" class="form-control" id="lname" name="last_name" placeholder="Last Name" required>
                               </div>
                               <div class="form-group col-sm-12">
                                   <label>Country:</label>
                                   <select class="form-control" id="selectcountry" name="country" required>
                                       <option value="">Select Country</option>
                                       <option>Canada</option>
                                       <option>USA</option>
                                       <option>India</option>
                                       <option>Africa</option>
                                   </select>
                               </div>
                               <div class="form-group col-md-6">
                                   <label for="mobno">Mobile Number:</label>
                                   <input type="text" class="form-control" id="mobno" name="mobile_number" placeholder="Mobile Number" required>
                               </div>
                               <div class="form-group col-md-6">
                                   <label for="altconno">Alternate Contact:</label>
                                   <input type="text" class="form-control" id="altconno" name="alternate_contact" placeholder="Alternate Contact">
                               </div>
                               <div class="form-group col-md-6">
                                   <label for="email">Email:</label>
                                   <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                               </div>
                               <div class="form-group col-md-6">
                                   <label for="pno">Pin Code:</label>
                                   <input type="text" class="form-control" id="pno" name="pin_code" placeholder="Pin Code">
                               </div>
                               <div class="form-group col-md-12">
                                   <label for="city">Town/City:</label>
                                   <input type="text" class="form-control" id="city" name="city" placeholder="Town/City">
                               </div>
                           </div>
                           <hr>
                           <h5 class="mb-3">Security</h5>
                           <div class="row">
                               <div class="form-group col-md-12">
                                   <label for="uname">User Name:</label>
                                   <input type="text" class="form-control" id="uname" name="username" placeholder="User Name" required>
                               </div>
                           </div>
                           <div class="checkbox">
                               <label><input class="mr-2" type="checkbox" name="two_factor_auth">Enable Two-Factor-Authentication</label>
                           </div>
                           <button type="submit" class="btn btn-primary">Add New User</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock content %}